{% extends "layout.html" %}
{% load static %}

{% comment %} {% load static%}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Demo learning of Django</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                
            </ul>
        </nav>
        <h1>Welcome to the Django Learning Demo</h1>
        
        <p>This is a simple Django application that demonstrates basic functionality.</p>
        
    </body>
</html> {% endcomment %}

{% block title %}Home page{% endblock %}
{% block content %}


<div class="mt-4"><h1 class="text-2xl">Chai Is Daily Requirement Of An Indian</h1> </div>

<div class="container flex justify-between m-2">
    <div class="whytea w-1/2 mt-2 ">
     <h3 class="text-4xl"> WHY TEA ?</h3>
     <p class="text-xl mt-2 "> Tea is best way to start your day .......</p>
     <p class="text-xl mt-2 ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores
         expedita dolore quidem! Eum fugiat temporibus voluptatem aliquam ad facilis nobis? 
        Laudantium autem nostrum et possimus fuga tempora qui aut velit? Lorem ipsum dolor
         sit amet consectetur, adipisicing elit. Aperiam necessitatibus neque voluptatum iure,
          earum nulla voluptate aspernatur qui assumenda, saepe quos ipsa adipisci 
        nam tempore omnis vero quasi. Impedit, dolorem?</p>

    </div>

    <div class="w-1/2 mx-10 mt-2">
    <img  src="{% static 'pexels-pixabay-259955.jpg' %}">
   </div>
</div>
    


{% endblock %}